@model IEnumerable<Category>

@foreach(var item in Model)
{
    <li class="filter-list"><input value="@item.Name" class="pixel-radio" id="@item.Name" type="checkbox" name="brand">
        <label for="@item.Name">@item.Name<span>(@(item.Products?.Count() ?? 0))</span></label>
    </li>
}