@model IEnumerable<Size>

@foreach(var item in Model) {
    <li class="filter-list"><input class="pixel-radio" type="checkbox" id="@item.SizeNumber" name="brand" value="@item.SizeNumber">
            <label for="@item.SizeNumber">@item.SizeNumber<span>(@(item.Products?.Count() ?? 0))</span></label>
    </li>
}